<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <!-- Entry point — redirect to Login or Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Auth -->
        <activity
            android:name=".features.intro.IntroSliderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.auth.login.LoginActivity"
            android:exported="false" />
        <activity android:name=".features.auth.register.RegisterActivity" />
        <activity android:name=".features.auth.otp.OtpActivity" />
        <activity android:name=".features.auth.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".features.auth.forgotpassword.ForgotPasswordOtpActivity" />
        <activity android:name=".features.auth.forgotpassword.ResetPasswordActivity" />






        <!-- Home -->
        <activity android:name=".features.home.HomeActivity" />
        <activity android:name=".features.transaction.AddTransactionActivity" />
        <activity android:name=".features.transaction.TransactionHistoryActivity" />
        <activity android:name=".features.transaction.TransactionDetailActivity" />
        <activity
            android:name=".features.category.CategoryActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Wallet -->
        <activity android:name=".features.wallet.WalletActivity" />

        <!-- Budget -->
        <activity android:name=".features.plan.AddBudgetActivity" />
        <activity android:name=".features.plan.BudgetDetailActivity" />

        <!-- Profile -->
        <activity android:name=".features.profile.ProfileActivity" />

        <!-- FCM -->
        <service
            android:name=".core.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Icon và màu mặc định cho notification (background) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_spash" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green_start" />

        <!-- Thêm ID ứng dụng AdMob (Đây là ID Test của Google) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- FileProvider cho ảnh camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>